body{
	background-image: url(img/2.jpg);
	background-repeat: no-repeat;
	background-size: cover; 
	margin: 0px;
}
nav{
	text-align: right;
	background-color: black;
	font-size: 25px;
	
    height: 45px;
    padding-top: 20px;
    margin-top: -8px;
	
}
.u:hover{
	color: white;
}
.u{
	text-decoration: none;
	padding-right: 50px;
}
#mula{
	display: none;
}

.t{
	color: #03f4e9;
	margin-top: 100px;

}
#k{
	margin-top: 0px;

	margin-left: 40px;
	font-size: 2cm;
}
#h{
	margin-left: 60px;
	font-size: 1cm;
}
#p{
	margin-left: 50px;
	font-size: 1.1cm;
}
#mr{
	margin-left: 60px;
	font-size: 1cm;
	color: yellow;
} /*end of index page*/

.Email{
	text-align: center;
	/*margin-left: 300px;*/ /*Emails box etc.*/
	margin-top: 30px;
	/*margin-right:300px;*/
	color: white;
	
}

.first{
	width:250px; /*other contact box*/
}

.s:hover{
	background-color: #00ff1a69; /*submit button*/
}
.b{
	margin-top: 50px; /*contact page fieldset*/
}
/*.c{
	drop-filter:blur(4px);*/ /*to blur contact background-color*/

.c:hover{
	box-shadow: #58ebfe 4px 3px 20px;
}
.nt{ 
	color: grey;
	text-align: right;
    /*margin-top: -500px;*/
    margin-right: 10px; /*my info*/
}

.pi{
	color: white; /*title*/
	font-size: 40px;
	text-shadow: #00f3ff 1px 2px 20px;
	
}
.a{
	color: white; /* cv personal info*/
}
.img{
	width: 475px;
	box-shadow: #58ebfe 4px 3px 20px 3px; /*cv img*/
}
#f{
	margin-top: -10px;
	width: 65%;
	background-color: #2ba2e263;
	/*backdrop-filter: blur(3px); *//*cv fieldset*/
	
	/*box-shadow: #349bf4 2px 1px 18px 2px;*/
}
#f:hover{
	box-shadow: #349bf4 2px 1px 20px 11px;
}
.grid{
	display: grid;                    /*CV page*/
    /*width: max-content;*/
    grid-template-columns: auto auto;
    margin-left: 18px;
    margin-top: 30px;
    column-gap: 50px;
}



/*.cv{
	font-style: italic;
    color: #00dcff;
    font-size: 50px;
    text-shadow: #0072ff 4px 0px 2px;
    margin-top: -400px;
    margin-left: 30px;
}*/
.unknown{
	width: 200px;
	height: 400px;
	background-color: grey;
	margin-left: 70px;
	margin-top: 50px;
	color: black;
	
}
.port{
	color: white;
	/*margin-left: 65px;*/
}
.tt{
	width: 200px;
	margin-left: 70px;
	/*margin-top: 50px;*/
}
.ttt{
	width: 200px;
	margin-left: 200px;
	margin-top: -80px;
}
.tttt{
	width: 200px;
	margin-left: 325px;
	margin-top: -80px;
}
.ttttt{
	width: 200px;
	margin-left: 433px;
	margin-top: -102px;
}
.ttttt:hover{
	box-shadow: #06fad8 -2px -1px 15px;

}
.tttt:hover{
	box-shadow: #06fad8 -2px -1px 15px;

}
.ttt:hover{
	box-shadow: #06fad8 -2px -1px 15px;

}
.tt:hover{
	box-shadow: #06fad8 -2px -1px 15px;    /* this is of portfolio*/

}
.v{ /*for hover color: */
	animation-name: rbg;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}
.site{						/*Sitereport css from here*/
	width: 90%;
	margin-left: 10px;
	border: 2px solid #58ebfe; 

}
.my{
	color: white;
	text-shadow: #00c9ff 3px 2px 18px;
	font-size: 30px;
	margin-left: 10px;
}
.list{
	color: #58ebfe;
}
.obj{
	color: white;
	text-shadow: #00c9ff 3px 2px 18px;
	font-size: 30px;
	margin-left: 10px;
}
.exp{
	color: white;
	text-shadow: #00c9ff 3px 2px 18px;
	font-size: 30px;
	margin-left: 10px;
}
.re{
	color: #58ebfe;
	
	font-size: 16px;
	margin-left: 10px;
}
.ref{
	color: white;
	text-shadow: #00c9ff 3px 2px 18px;
	font-size: 30px;
	margin-left: 10px;
}
.vd{
	color: white;
	text-shadow: #00c9ff 3px 2px 18px;
	font-size: 30px;
	margin-left: 10px;
}
.txt{
	color: #58ebfe;
	font-size: 16px;
	margin-left:20px;
}
.sit{
	width: 50%;
}
.gd{
	display: grid;
	grid-template-columns: auto auto;
}
@keyframes rbg{ /*page nav color*/
    0% {color:green;}
    20% {color:pink;}
    40% {color:skyblue;}
    60% {color:yellow;}
    80% {color:white;}
    100% {color:red;}

}
@media screen and (max-width: 700px) {
    body {
      /* background-color: darkblue; */
      background-size: cover;
      background-image: url(img/000.jpg);
      background-repeat: repeat;
    }

	#mula:checked ~.z{
		transform: none;
		transition-duration: 1s;
		width: 100%;
		z-index: 2;
	}
	.z{
		transform: scale(0);

		transform-origin: 100% 0%;
		background-color: black;
		position: fixed;
}
	.u{
		width: 100%;
		/*z-index: 2;*/
		display: block;
		color: white;
		/*background-color: black;*/
	}	
	.hb{
		height: 2px;
		width: 12px;
		background-color: white;
		margin: 2px;
		

	}
	.h{

		float: right;
		
	}
	#mula{
		position: relative;
		left: 19px; 
		top: -10px;
		opacity: 0%;
		display: inline-block;
	}
	.img{
		width:100px;
	}
	#f{
		grid-area: 2/1;
	}
	.tt{
		margin: 0px;
	}
	.ttt{
		margin: 0px;
		float: right;
	}
	.tttt{
		margin: 0px;
	}.ttttt{
		margin: 0px;
		float: right;
	}
	.b{
		padding: 0;
	}
	.nt{
		margin: 0px;
		margin-top: 120px;
	}
	.c{
		width: 98%;
		margin: 0px;
	}
	.u{
		padding: 0;
	}
	#f{
		width: 50%;
	}
	#k{
	margin-top: 0px;

	/*margin-left: 40px;*/
	font-size: 40px;
}
#h{
	/*margin-left: 60px;*/
	font-size: 50px;
}
#p{
	/*margin-left: 50px;*/
	font-size: 30px;
}
#mr{
	/*margin-left: 60px;*/
	font-size: 20px;
	color: yellow;
}
}
